NEXT_PUBLIC_SITE_URL=https://pyronets.com
NEXT_PUBLIC_CONTACT_EMAIL=contactus@pyronets.com
NEXT_PUBLIC_COMPANY_NAME=Pyronets
SSL_KEY_PATH=./ssl/key.pem
SSL_CERT_PATH=./ssl/cert.pem

# SMTP credentials for contact form
SMTP_EMAIL=contactus@pyronets.com
SMTP_PASSWORD=your-password-here
CONTACT_EMAIL_TO=contactus@pyronets.com
NOTIFY_EMAILS=email1@example.com,email2@example.com
